html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-color: #f5ecd9;
    cursor: url('./images/cursor.png'), auto;
}

canvas {
    width: 100%;
    height: auto;
    background: #f5ecd9;
}
